.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 50vw;
    direction: ltr;
    color: var(--orange-yellow);
}

.typingEffect {
    font-size: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    width: 90vw;
    animation: typing 8s steps(65) infinite, border 1s infinite ease-in-out;
}

@keyframes border {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);

    }

    100% {
        border-right-color: transparent;

    }
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50%,
    90% {
        width: 1310px;
    }
}