.container {
  /* margin-top: 5rem; */
  width: 65%;
  flex-shrink: 0;
  border: 1px solid var(--orange-yellow);
  padding: 1rem;
  box-shadow: 0px 4px 18px 0 var(--orange-yellow);
  color: var(--orange-yellow);
}

.container label {
  color: var(--orange-yellow);
}

.button {
  width: 100%;
  background-color: var(--orange-yellow);
  /* Blue-700 from Tailwind */
  color: #ffffff;
  /* White */
  padding: 0.5rem 1rem;
  /* py-2 px-4 */
  border-radius: 0.375rem;
  /* rounded-md */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* shadow-sm */
  transition: background-color 0.2s ease-in-out;
  /* Transition for hover effect */
}

.button:hover {
  background-color: #b57c00;
  /* Blue-600 from Tailwind */
}